:root{
    --system-black:#373737;
    --system-black-30:#C3C3C3;
    --bg:#F5F5F5;
    --sidebar:340px;

    --cat-disease:#FEB3FF;
    --cat-treatment:#7EF5CB;
    --cat-genetic:#FFFF00;
    --cat-behavior:#FFA07A;
    --cat-symptom:#cba1ff;
}

main{
    position:relative;
    width:100vw;
    height:100vh;
}

#controls{
    position:absolute;
    top:0;
    left:0;
    /* position:fixed;
    top:0;
    left:0; */
    z-index:20;
    padding:20px;
    /* width:400px; */
    font-family:'Monument Grotesk', sans-serif;
    font-size:13px;
    width:var(--sidebar);
    background-color: white;
    height:100%;
    box-sizing:border-box;
}

main.topic-view input:checked{
    opacity:0.5;
    pointer-events: none;
}


.focus-p0 #p0 input[type="checkbox"],.focus-p1 #p1 input[type="checkbox"]{
    display:none;
}

.focus-p0 #p1>*:not(h3),.focus-p1 #p0>*:not(h3){
    display:none;
}

.focus-p0 #intermediate,.focus-p1 #intermediate{
    display:none;
}


#graph{
    position:absolute;
    top:20px;
    right:20px;
    background-color: var(--bg);
}

#graph g{
    z-index:10;
}
#graph g.link-lines,#graph g.node-label-bgs{
    z-index:5;
}

section{
    margin-bottom:10px;
}

.row-wrap{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}

.row-wrap[data-type="other"] span{
    display:inline-flex;
    flex-flow:row nowrap;
    align-items: center;
}

.row-wrap[data-type="other"] span::before{
    display:inline-block;
    background-color: black;
    width:20px;
    height:20px;
    margin-right:5px;
    content:'';
}





h3{
    font-weight:600;
    margin-bottom:5px;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}

.row-wrap>*{
    margin-right:5px;
}

.row-wrap input[type="range"]{
    width:150px;
}

.count{
    font-family:'Monument Grotesk Mono';
    letter-spacing: -1px;
}

.count::before{
    content:'[';
}
.count::after{
    content:var(--max);
}







#dom{
    pointer-events: none;
}

/* #C3C3C3 */
text{
    cursor:default;
    font-family:'Monument Grotesk', sans-serif;
    /* fill:rgba(255,0,0,0.3); */
    paint-order: stroke;
    
    stroke:var(--bg);
    stroke-width:2px;
    font-size:13px;
    fill:var(--system-black);
    transform:translate(6px,4px);
    text-transform:capitalize;
}

select{
    margin:2px 0px;
}

/* 
.see-categories text{
    transform:translate(12px,4px);
} */

rect{
    transform:translate(9px,-9px);
}
rect.primary{
    transform:translate(10px,-12px);
}

.see-categories text.has-type{
    transform:translate(16px,4px);
    stroke:none;
}

/* text{
    stroke:var(--bg);
    stroke-width:2px;
} */

text.primary{
    font-size:16px;
    font-weight:600;
}



.row-wrap.color{
    opacity:0;
    margin-bottom:2px;
}

.see-categories .row-wrap.color{
    opacity:1;
}

.row-wrap.color .swatch{
    display:inline-block;
    width:20px;
    height:20px;
    background-color: var(--color);
}

.node-label-bgs{
    opacity:0;
}

.see-categories .node-label-bgs{
    opacity:1;
}


circle{
    fill:var(--bg);
    stroke:var(--system-black);
    stroke-width:2px;
    /* paint-order:stroke; */
}



line,polyline{
    stroke:var(--system-black-30);
}


marker{
    fill:none;
    stroke:var(--system-black-30);
    stroke-width:1px;
}

#arrow-primary{
    stroke:var(--system-black);
    stroke-width:2px;
}



line.primary,polyline.primary{
    stroke:var(--system-black);
    stroke-width:2px;
}

.animate line,.animate polyline{
    stroke:var(--system-black);
    opacity:0;
    stroke-width:4px;
    stroke-linecap: round;
   
    --gap:30;
    /* animation: directionality 2s linear infinite forwards;
    stroke-dasharray:var(--gap) calc(var(--str) - var(--gap));
    stroke-dashoffset:var(--str); */
}

.animate line.primary,.animate polyline.primary{
    opacity:0.2;
    stroke-width:8px;
}

@keyframes directionality{
    0%{
        stroke-dashoffset:var(--str);
    }
    
    100%{
        stroke-dashoffset:0;
    }
}

@font-face {
    font-family:'Monument Grotesk';
    src: url('../assets/monument-trial-regular.woff2');
}

@font-face {
    font-family:'Monument Grotesk Mono';
    src: url('../assets/monument-trial-mono-regular.woff2');
}

@font-face {
    font-family:'Monument Grotesk';
    font-style:italic;
    src: url('../assets/monument-trial-regular-italic.woff2');
}

@font-face {
    font-family:'Monument Grotesk';
    font-weight:600;
    src: url('../assets/monument-trial-bold.woff2');
}
@font-face {
    font-family:'Monument Grotesk';
    font-weight:600;
    font-style: italic;
    src: url('../assets/monument-trial-bold-italic.woff2');
}