/* overall rules ---------------- */
:root{
    --system-black:#373737;
    --system-black-30:#C3C3C3;
    --bg:#F5F5F5;
    --sidebar:340px;
    --cat-disease:#FEB3FF;
    --cat-treatment:#7EF5CB;
    --cat-genetic:#FFFF00;
    --cat-behavior:#FFA07A;
    --cat-symptom:#cba1ff;
}

main{
    position:relative;
    width:100vw;
    height:100vh;
}

#controls{
    position:absolute;
    top:0;
    left:0;
    /* position:fixed;
    top:0;
    left:0; */
    z-index:20;
    padding:20px;
    /* width:400px; */
    font-family:'Monument Grotesk', sans-serif;
    font-size:13px;
    width:var(--sidebar);
    background-color: white;
    height:100%;
    box-sizing:border-box;
}


/* control panel ---------------- */

main.topic-view input:checked{
    opacity:0.5;
    pointer-events: none;
}

main.topic-view[data-viewing="coffee"] #cancer .row-wrap{
    pointer-events: none;
    opacity:0.5;
}

main.topic-view[data-viewing="cancer"] #coffee .row-wrap{
    pointer-events: none;
    opacity:0.5;
}


.focus-p0 #p0 input[type="checkbox"],.focus-p1 #p1 input[type="checkbox"]{
    display:none;
}

.focus-p0 #p1>*:not(h3),.focus-p1 #p0>*:not(h3){
    display:none;
}

.focus-p0 #intermediate,.focus-p1 #intermediate{
    display:none;
}


section{
    margin-bottom:10px;
}

.row-wrap{
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}

.row-wrap[data-type="other"] span{
    display:inline-flex;
    flex-flow:row nowrap;
    align-items: center;
}

.row-wrap[data-type="other"] span::before{
    display:inline-block;
    background-color: black;
    width:20px;
    height:20px;
    margin-right:5px;
    content:'';
}

#p0 .row-wrap[data-name="downstream"]{
    display:none;
}

#p1 .row-wrap[data-name="upstream"]{
    display:none;
}

h3{
    font-weight:600;
    margin-bottom:5px;
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
}

.row-wrap>*{
    margin-right:5px;
}

.row-wrap input[type="range"]{
    width:150px;
}

.count{
    font-family:'Monument Grotesk Mono';
    letter-spacing: -1px;
}

.count::before{
    content:'[';
}
.count::after{
    content:var(--max);
}


.row-wrap.color{
    opacity:0;
    margin-bottom:2px;
}

.see-categories .row-wrap.color{
    opacity:1;
}

.row-wrap.color .swatch{
    display:inline-block;
    width:20px;
    height:20px;
    background-color: var(--color);
}



/* graph ---------------- */

#graph{
    position:absolute;
    top:20px;
    right:20px;
    background-color: var(--bg);
    
}

#graph,#graph text.noselect,.labels.noselect text{
    cursor:grab;
}

#graph.drag,#graph.drag text.noselect,#graph.drag .labels.noselect text{
    cursor:grabbing;
}


#graph g{
    transform:translate(var(--drag-x),var(--drag-y))
}

#graph g{
    z-index:10;
}
#graph g.link-lines,#graph g.node-label-bgs{
    z-index:5;
}




/* #C3C3C3 */
text{
    cursor:default;
    font-family:'Monument Grotesk', sans-serif;
    /* fill:rgba(255,0,0,0.3); */
    paint-order: stroke;
    
    stroke:var(--bg);
    stroke-width:2px;
    font-size:13px;
    fill:var(--system-black);
    transform:translate(6px,4px);
    text-transform:capitalize;
}


rect{
    transform:translate(9px,-9px);
}
rect.primary{
    transform:translate(10px,-12px);
}

.see-categories text.has-type{
    transform:translate(16px,4px);
    stroke:none;
}


text.primary{
    font-size:16px;
    font-weight:600;
}
text.label{
    /* font-weight:600; */
    transform:translate(-6px,2px);
    opacity:0.8;
}



.node-label-bgs{
    opacity:0;
}

.see-categories .node-label-bgs{
    opacity:1;
}


circle{
    fill:var(--bg);
    stroke:var(--system-black);
    stroke-width:2px;
    /* paint-order:stroke; */
}



line,polyline,path{
    fill:none;
    stroke:var(--system-black-30);
}


.link-arrows{
    display:none;
    /* transform-origin:center; */
    /* transform:translate(-2px,-4px); */
}

#graph[data-directionality="arrows"] .link-arrows{
    display:block;
}

.animate{
    display:none;
}

#graph[data-directionality="motion"] .animate{
    display:block;
}

marker{
    fill:none;
    stroke:var(--system-black-30);
    stroke-width:1px;
}

#arrow-primary{
    stroke:var(--system-black);
    stroke-width:2px;
}



line.primary,polyline.primary,path.primary{
    stroke:var(--system-black);
    stroke-width:2px;
}






.animate line,.animate polyline,.animate path{
    stroke:salmon;
    opacity:0.2;
    stroke-width:4px;
    stroke-linecap: round;
   
    --gap:60;
    animation: directionality 2s linear infinite forwards;
    stroke-dasharray:var(--gap) calc(var(--str) - var(--gap));
    stroke-dashoffset:var(--str);
}

.animate line.primary,.animate polyline.primary,.animate path.primary{
    opacity:0.2;
    stroke-width:8px;
}

@keyframes directionality{
    0%{
        stroke-dashoffset:var(--str);
    }
    
    100%{
        stroke-dashoffset:0;
    }
}

@font-face {
    font-family:'Monument Grotesk';
    src: url('../assets/monument-trial-regular.woff2');
}

@font-face {
    font-family:'Monument Grotesk Mono';
    src: url('../assets/monument-trial-mono-regular.woff2');
}

@font-face {
    font-family:'Monument Grotesk';
    font-style:italic;
    src: url('../assets/monument-trial-regular-italic.woff2');
}

@font-face {
    font-family:'Monument Grotesk';
    font-weight:600;
    src: url('../assets/monument-trial-bold.woff2');
}
@font-face {
    font-family:'Monument Grotesk';
    font-weight:600;
    font-style: italic;
    src: url('../assets/monument-trial-bold-italic.woff2');
}